<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lotto.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
        .group_content .group_title + .list_icon_circle {border-top:1px solid #ddd}
        .tbl_data {border-top:1px solid #333; table-layout:fixed}
        .tbl_data tr th,
        .tbl_data tr td {border-bottom:1px solid #ddd; border-left:1px solid #ddd}
        .tbl_data tr th:last-child,
        .tbl_data tr td:last-child {border-right:1px solid #ddd}
        .tbl_data tr td {padding:13px 20px 15px; font-weight:300; color:#767676; line-height:22px; background:#fff; vertical-align:middle}
        .tbl_data tr th {padding:13px 20px 15px; background:#f5f5f5; font-weight:normal; line-height:22px}
        .tbl_data tr td .break_all {line-height:1.3em}
        .tbl_data tr .ta_left {text-align:left}
        .tbl_data tr .ta_right {text-align:right}
        .tbl_data tr .ta_center {text-align:center}
        .tbl_data tr .nobg {background:#fff}
        .tbl_data tr th.nobg {color:#767676; font-weight:300}
        .tbl_data tr td.graph {padding-left:0; padding-right:0;}
        .tbl_data tr td.graph .graph_bar {position:relative; height:10px; margin-right:90px}
        .tbl_data tr td.graph .graph_bar ~ .graph_bar {margin-top:10px}
        .tbl_data tr td.graph .graph_bar .bar {position:absolute; left:0; top:0; height:10px; max-width:100% !important}
        .tbl_data tr td.graph .graph_bar .bar.color_bred {background:#f56d6d; color:#f56d6d}
        .tbl_data tr td.graph .graph_bar .bar.color_bylw {background:#dbb471; color:#dbb471}
        .tbl_data tr td.graph .graph_bar .bar.color1 {background:#fbc400}
        .tbl_data tr td.graph .graph_bar .bar.color2 {background:#69c8f2}
        .tbl_data tr td.graph .graph_bar .bar.color3 {background:#ff7272}
        .tbl_data tr td.graph .graph_bar .bar.color4 {background:#aaa}
        .tbl_data tr td.graph .graph_bar .bar.color5 {background:#b0d840}
        /* 720 bar */
        .tbl_data tr td.graph .graph_bar .bar.color6 {background:#c7c7c7}
        .tbl_data tr td.graph .graph_bar .bar.color7 {background:#ff4c4c}
        .tbl_data tr td.graph .graph_bar .bar.color8 {background:#ff8e4f}
        .tbl_data tr td.graph .graph_bar .bar.color9 {background:#fcd153}
        .tbl_data tr td.graph .graph_bar .bar.color10 {background:#3cbcff}
        .tbl_data tr td.graph .graph_bar .bar.color11 {background:#8d70da}
        .tbl_data tr td.graph .graph_bar .bar.color12 {background:#777777}
        .tbl_data tr td.graph .graph_bar .bar span {position:absolute; right:-90px; width:80px; height:30px; padding-left:10px; line-height:30px; top:50%; margin-top:-15px; text-align:left; font-size:13px}
        .tbl_data tr td.graph .graph_bar.no_note {text-align:left; text-indent:-999em; margin-right:0}
        .tbl_data tr td.nobd_right {border-right:0}
        .tbl_data tfoot tr th {background:#fff; color:#d43301}
        .tbl_data tfoot tr td {color:#d43301}
        .list_text_common li {position:relative; padding-left:13px; /*font-weight:300; color:#777; line-height:22px*/}
        .list_text_common li ~ li {margin-top:6px}
        .list_text_common li:after {content:""; position:absolute; left:0; top:.8em; width:4px; border-top:1px solid #aaa}
        .list_text_common li strong {font-weight:300; color:#d43301}
        .list_text_common li img {vertical-align:middle}
        .list_text_common ul {margin-top:6px}
        .list_text_common ul li {padding-left:6px; color:#888}
        .list_text_common ul li:after {content:""; top:.7em; width:2px; height:2px; background:#ccc; border:0;}
    </style>
</head>
<body>

<section id="container" class="section_qr lotto645">
    <div class="contents">
      <div class="winner_number">
        <h4><%=yyyy%> 년 <%=wk%> 주차-합계 [<%=c4ei_sum_chips%> C4EI / <%=klay_sum_chips%> KLAY / <%=ceik_sum_chips%> CEIK
          / <%=ksp_sum_chips%> KSP
          / <%=bck_sum_chips%> BCK
          ] </h4>
        <div style="height: 5px;"></div>
        <h4><a href="/lotto2/" target="_blank">Lotto (C4EI, KLAY)</a> / <a href="/lotto3/" target="_blank">Lotto (CEIK, KSP, BCK) </a>
        </h4>
        <div style="height: 5px;"></div>
        <h4><a href="/help.html">게임참여 방법(설명)</a></h4>         
      </div>
      <div class="list_my_number">
        <!-- <h3>수익금은 일정 비율로 KLAY-CEIK 에 swap 됩니다.</h3> -->

      <% if (result4.length>0) { %>
        <h2><%=result4[0].yyyy%>년 <%=result4[0].wk%> 주차 당첨번호 : <%=result4[0].numb_tot%> + <%=result4[0].numb7%> </h2>
      <% } %>
      <div style="height: 5px;"></div>
      <font color="red" style="font-size: 11px;">
        ※ <b>토요일 20시 30분 부터 토요일 자정</b>까지는 게임을 할 수 없습니다. 
        해당 시간대에 진행된 게임은 당첨되도라도 당첨금이 지급 되지 않습니다.
      </font>
      <div style="height: 5px;"></div>

        <div class="tbl_basic">
          <div class="group_title">
            <h4 class="title">등위결정방법 및 당첨금 배분구조</h4>
          </div>
          <table class="tbl_data tbl_data_col">
              <caption>등위별 당첨내용, 당첨확률, 당첨금의 배분비율 안내</caption>
              <thead>
                  <tr>
                      <th scope="col">등위</th>
                      <th scope="col">당첨방법</th>
                      <th scope="col">당첨확률</th>
                      <th scope="col">당첨금의 배분 비율</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>1등</td>
                      <td>6개 번호 일치</td>
                      <td>1 / 8,145,060</td>
                      <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 75%</td>
                  </tr>
                  <tr>
                      <td>2등</td>
                      <td>5개 번호 일치<br>+ 보너스 번호일치</td>
                      <td>1 / 1,357,510</td>
                      <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%</td>
                  </tr>
                  <tr>
                      <td>3등</td>
                      <td>5개 번호 일치</td>
                      <td>1 / 35,724</td>
                      <td>총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%</td>
                  </tr>
                  <tr>
                      <td>4등</td>
                      <td>4개 번호 일치</td>
                      <td>1 / 733</td>
                      <td>COIN X 50</td>
                  </tr>
                  <tr>
                      <td>5등</td>
                      <td>3개 번호 일치</td>
                      <td>1 / 45</td>
                      <td>COIN X 5</td>
                  </tr>
              </tbody>
          </table>
          <ul class="list_text_common">
              <li>총 당첨금은 로또 <strong>전체 판매액의 50%</strong>이며, <strong>42% 이상은 복권기금</strong>으로 활용됩니다.</li>
              <li>1, 2, 3등 당첨금은 해당 회차의 총 판매액에 의해 결정되며, 등위별 해당금액을 당첨자 수로 나누어 지급합니다.</li>
              <li>1등 당첨자가 없는 경우에는 해당 1등 당첨금은 이월되어 다음 회차 1등 상금에 합산되고, 2등~3등 당첨자가 없는 경우에는 직상위 당첨금에 포함되어 지급됩니다.</li>
              <li>1등 당첨금의 연속 이월은 2회로 제한되며, 연속 이월 3회째에도 1등 당첨자가 없을 경우 당첨금은 직하위 당첨금에 포함하여 지급합니다.<br>다만, 이월 횟수는 정부 정책에 의거 변경될 수 있습니다.</li>
              <li>4등, 5등 당첨자가 과다하게 발생하여 당첨금이 부족할 경우 별도로 정한 지급률에 의거하여 지급됩니다.</li>
          </ul>
          <div style="height: 15px;"></div>

          <h3>1등 당첨코인수</h3>
          <table>
            <tbody>
              <tr>
                <th  style="text-align: center;width:80px">년</th>
                <th  style="text-align: center;width:60px">주</th>
                <th  style="text-align: center;width:90px">코인</th>
                <th  style="text-align: center;width:90px">1등 당첨코인수</th>
              </tr>
<% 
if (result2.length>0) { 
  for (i=0;i<result2.length;i++)
  {
%>
<tr>
  <td  style="text-align: left;"><%=result2[i].yyyy %></td>
  <td  style="text-align: left;"><%=result2[i].wk %></td>
  <td  style="text-align: left;"><%=result2[i].coin_name %></td>
  <td  style="text-align: left;"><%=result2[i].amt1st %></td>
</tr>
<% 
  }
} else { %>
<tr>
  <td  style="text-align: center;" colspan="4"> 자료가 없습니다. </td>
</tr>

<% } %>

              <!-- <tr>
                <td colspan="4" style="height: 20px;">  </td>
              </tr> -->
            </tbody>
          </table>

          <div style="height: 15px;"></div>
          <h3>당첨자수</h3>
          <table>
            <tbody>
              <tr>
                <th  style="text-align: center;width:80px">년</th>
                <th  style="text-align: center;width:60px">주</th>
                <th  style="text-align: center;width:90px">코인</th>
                <th  style="text-align: center;width:90px">등수</th>
                <th  style="text-align: center;width:90px">당첨자수</th>
              </tr>
<% 
if (result3.length>0) { 
  for (i=0;i<result3.length;i++)
  {
%>
<tr>
  <td  style="text-align: left;"><%=result3[i].yyyy %></td>
  <td  style="text-align: left;"><%=result3[i].wk %></td>
  <td  style="text-align: left;"><%=result3[i].coin_name %></td>
  <td  style="text-align: left;"><%=result3[i].c_rank %></td>
  <td  style="text-align: left;"><%=result3[i].rankCnt %></td>
</tr>
<% 
  }
} else { %>
<tr>
  <td  style="text-align: center;" colspan="5"> 자료가 없습니다. </td>
</tr>

<% } %>

              <!-- <tr>
                <td colspan="5" style="height: 20px;">  </td>
              </tr> -->
            </tbody>
          </table>

        </div>
      </div>
    </div>
</section>

</body>
</html>



<!-- 카카오톡(클립)이 설치된 모바일기기에서만 작동 가능 합니다.
<br/>
<h2>DB 스키마 변경 중으로 링크를 잠시 막아 놓겠습니다.</h2>
<h2><a href="/lotto/">klay lotto 하기</a></h2> 
<br/> -->
