<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>c4ei.net <%= title %></title>
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
</head>
<body id="page-top">

<h1><%=yyyy%> 년 <%=wk%> 주차</h1>
<h3>합계 [ <%=c4ei_sum_chips%> C4EI  / <%=klay_sum_chips%> KLAY / <%=ceik_sum_chips%> CEIK ] </h3>

<h2><a href="/lotto2/" target="_blank">Lotto (C4EI, KLAY 가능) 참여하기</a></h2>
<h2><a href="/lotto3/" target="_blank">lotto (CEIK, BCK 가능) </a></h2>
<h3><a href="/help.html">게임참여 방법(설명)</a></h3>


<h3>수익금의 의 일정 비율은 KLAY-CEIK 에 swap 됩니다.</h3>
<pre>
1게임당 번호 6개

총 당첨금은 로또 전체 판매액의 50%이며, 42% 이상은 복권기금으로 활용됩니다.
1, 2, 3등 당첨금은 해당 회차의 총 판매액에 의해 결정되며, 
등위별 해당금액을 당첨자 수로 나누어 지급합니다.


당첨방법
1등 : 6개 번호 일치
2등 : 5개 번호 일치 + 보너스 번호일치
3등 : 5개 번호 일치
4등 : 4개 번호 일치
5등 : 3개 번호 일치

당첨확률
1등: 1 / 8,145,060
2등: 1 / 1,357,510
3등: 1 / 35,724
4등: 1 / 733
5등: 1 / 45

당첨금의 배분 비율
1등: 총 당첨금 중 4등, 5등 금액을 제외한 금액의 75%
2등: 총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%
3등: 총 당첨금 중 4등, 5등 금액을 제외한 금액의 12.5%
4등: 50,000원 --> 50klay
5등: 5,000원 --> 5klay
</pre>



<!-- 카카오톡(클립)이 설치된 모바일기기에서만 작동 가능 합니다.
<br/>
<h2>DB 스키마 변경 중으로 링크를 잠시 막아 놓겠습니다.</h2>
<h2><a href="/lotto/">klay lotto 하기</a></h2> 
<br/> -->

</body>
</html>
