<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/lotto.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>
  <body>

	<!-- container -->
  <section id="container" class="section_qr lotto645">
    <!-- <header class="head_title">
        <h2>선택하신 번호</h2>
    </header> -->

    <div class="contents">
       <div class="winner_number">

        <!-- <h3>로또 6/45 <span class="key_clr1">제1006회</span><span class="date">2022-03-12 추첨</span></h3> -->
        <!-- 번호별 컬러값: clr1: 1~10, clr2: 11~20, clr3: 21~30, clr4: 31~40, clr5: 41~45  -->
        <h3>선택하신 번호</h3>
        <!-- <div class="bx_winner winner">
           <strong class="tit">당첨번호</strong>
           <div class="list">
             <div class="clr clr1"><span>8</span></div>
             <div class="clr clr2"><span>11</span></div>
             <div class="clr clr2"><span>15</span></div>
             <div class="clr clr2"><span>16</span></div>
             <div class="clr clr2"><span>17</span></div>
             <div class="clr clr4"><span>37</span></div>
             <div class="plus clr clr4"><span>36</span></div>
           </div>
         </div>
         <div class="bx_notice winner">
           <div><span>아쉽게도,</span><strong>낙첨되었습니다.</strong></div>
         </div> -->
       </div>
       <div class="list_my_number">
         <div class="tbl_basic">
           <!-- 번호별 컬러값: clr1: 1~10, clr2: 11~20, clr3: 21~30, clr4: 31~40, clr5: 41~45  -->
          <table>
            <caption>내 당첨번호 확인</caption>
            <colgroup>
              <col style="width:8%">
              <col style="width:16%">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <td colspan="2"><%= yyyy %>년  <%= wk %>주차 </td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">선택번호</td>
                <td style="text-align: left;"> <%= numb_tot %></td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">구매일시</td>
                <td style="text-align: left;"> <%=regdate.replace('T',' ').replace('Z','')%></td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">주소</td>
                <td style="text-align: left;"> %=addr%></td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">chainId</td>
                <td style="text-align: left;"> <%=chainId%></td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">구매수량</td>
                <td style="text-align: left;"> <%=chips%> <%=coin_name%> </td>
              </tr>
              <tr>
                <td  style="text-align: left;width:90px">트랜젝션ID</td>
                <td style="text-align: left;word-break: break-all;">
                  <% if (chainId=="8217") { %> <a href="https://scope.klaytn.com/tx/<%=sendTr%>" target="_blank">
                  <% }else{ %> <a href="https://exp.c4ei.net/tx/<%=sendTr%>" target="_blank">
                  <% }%>
                    <%=sendTr%></a></td>
              </tr>
              <tr>
                <td colspan="2" style="height: 20px;">  </td>
              </tr>
              <tr>
                <td colspan="2"> <a href="/">main</a> </td>
              </tr>
<!--                             
            <tr>
              <th scope="row"> A</th>
              <td class="result">낙첨</td>
              <td>
                <span class="clr">4</span>
                <span class="clr">9</span>
                <span class="clr clr2">15</span>
                <span class="clr">21</span>
                <span class="clr">25</span>
                <span class="clr">27</span>
              </td>
            </tr> -->

            </tbody>
          </table>
        </div>
        <!-- <p class="extra">- QR 당첨확인은 보조 확인수단이므로 반드시 실물과 대조하시기 바라며, 당첨금은 실물 복권소지자에게 지급합니다.</p> -->
       </div>
    </div>
</section>
<!-- //container -->    


</body>
</html>
