<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
<table width="100%" border="0"  style="font-size: 10px;">
  <tr>
    <td colspan="2"><%= yyyy %>년  <%= wk %>주차 </td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">트랜젝션ID</td>
    <td ><a href="https://scope.klaytn.com/tx/<%=sendTr%>" target="_blank"><%=sendTr%></a></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">선택번호</td>
    <td ><%= numb_tot %></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">구매일시</td>
    <td ><%=regdate%></td>
  </tr>
  <tr>
    <td  style="text-align: left;width:90px">구매수량</td>
    <td ><%=chips%> KLAY <%= title %></td>
  </tr>

</table>
</body>
</html>
